{% extends "reviews/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Businesses{% endblock %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/normalize.css' %}" rel="stylesheet">
{% endblock %}

{% block style_mod %}
padding-top: 60px;
padding-bottom: 40px;
{% endblock %}

{# add this to business cards: http://tympanus.net/codrops/2012/06/18/3d-thumbnail-hover-effects/ #}

{% block content %}

    <div class="container">
        <h2>Businesses</h2>
        <div class="row-fluid">
            <div id="grid" class="main">

                {% for business in businesses.object_list %}
                <div class="view">

                    <div class="view-back">
                        <span data-icon="&#9733;">566</span>
                        <a href="http://www.flickr.com/photos/ag2r/5439506585/in/photostream">→</a>
                    </div>
                    {% thumbnail business.photo "300x200" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
                {% endfor %}

            </div>
        </div>


        <div class="row-fluid">
            <div class="pagination">
                <ul>
                    {% if businesses.has_previous %}
                    <li><a href="?page={{ businesses.previous_page_number }}">«</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">«</a></li>
                    {% endif %}

                    {% for page in businesses.paginator.page_range %}

                    {% if page == businesses.number %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                    {% endfor %}

                    {% if businesses.has_next %}
                    <li><a href="?page={{ businesses.next_page_number }}">»</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}