{% extends "reviews/base.html" %}

{% block title %}Businesses{% endblock %}

{% block style_mod %}
padding-top: 60px;
padding-bottom: 40px;
{% endblock %}

{# add this to business cards: http://tympanus.net/codrops/2012/06/18/3d-thumbnail-hover-effects/ #}

{% block content %}

    <div class="container">
        <h2>Businesses</h2>
        {% for business in businesses.object_list %}

        {% if forloop.counter0|divisibleby:3 %}
        <div class="row-fluid">
        {% endif %}

        <div id="grid" class="main">
            <div class="view">

                <div class="view-back">
                    <span data-icon="&#9733;">566</span>
                    <a href="http://www.flickr.com/photos/ag2r/5439506585/in/photostream">→</a>
                </div>

                <img src="{{ business.photo.url }}" alt="Test" />
            </div>
        </div>

        {% if forloop.counter0|divisibleby:3 %}
        </div>
        {% endif %}

        {% endfor %}

        <div class="row-fluid">
            <div class="pagination">
                <ul>
                    {% if businesses.has_previous %}
                    <li><a href="?page={{ businesses.previous_page_number }}">«</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">«</a></li>
                    {% endif %}

                    {% for page in businesses.paginator.page_range %}

                    {% if page == businesses.number %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                    {% endfor %}

                    {% if businesses.has_next %}
                    <li><a href="?page={{ businesses.next_page_number }}">»</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}