{% extends "reviews/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Reviews{% endblock %}

{% block style_mod %}
padding-bottom: 40px;
{% endblock %}

{% block top_nav_buttons %}
{{ block.super }}

{% endblock %}


{% block content %}

<header class="jumbotron subhead" id="splash">
  <div class="container">
    <div id="signup" class="span12" style="margin:0 auto;float:none;padding-bottom:60px">
      <h1>Search for businesses...</h1>
      <form method="get" action="/search" class="navbar-search pull-left">
        <input type="text" name="s" class="input-xxlarge search-query" placeholder="1234 Main St., Fullerton, CA 92835">
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>
  </div>
</header>

<div class="container">
    {% include 'reviews/business_list.inc.html' %}
</div>


<hr>

<footer>
  <p>&copy; Company 2013</p>
</footer>

{% endblock content %}
