{% extends "reviews/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}My Marketing Example{% endblock %}

{% block style_mod %}
padding-bottom: 40px;
{% endblock %}

{% block top_nav_buttons %}
{{ block.super }}

{% endblock %}


{% block content %}

<header class="jumbotron subhead" id="splash">
  <div class="container">
    <div id="signup" class="span12" style="margin:0 auto;float:none;padding-bottom:60px">
      <h1>Search for businesses...</h1>
      <form method="get" action="/search" class="navbar-search pull-left">
        <input type="text" name="s" class="input-xxlarge search-query" placeholder="1234 Main St., Fullerton, CA 92835">
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>
  </div>
</header>


<ul class="thumbnails">
  {% for business in business_list %}
  <li class="span4" >
    
      <div class="view">
        <div class="view-back">
          <span data-icon="&#9733;">566</span>
          <a href="{% url 'business_detail' business.id %}">→</a>
        </div>

        {% thumbnail business.photo "300x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </div>
      
      <div class="caption">
          <h3>{{business.name}}</h3>
          
          <p align="center"><a href="{% url 'business_detail' business.id %}" class="btn btn-primary btn-block">View more</a></p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>


<hr>

<footer>
  <p>&copy; Company 2013</p>
</footer>

{% endblock content %}
